body{
    background-color: #212121;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    
}
header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10%;
    background-color: #8BC34A;
}

#juego{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
    
    
}   
footer{
    
    height: 10%;
    background-color: #448AFF;
    margin-bottom: 0px;
    
}

.ficha{
    width: 100%;
    height: 100%;
    opacity: 0;    
}

.borde{
    margin: 12px;
    background-color: #448AFF;
    width: 24%;    
    height: 20%;   
}

#btnJugar{
    margin-left: 5px;
}

#btnReiniciar{
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}

footer{
    font-size: 1.3em;
    height: max-content;
}

#ganaJuego{
    background-color: #8BC34A;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 60vh;   
}
#manos{
    padding-left: 10px;
}

header div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
}